<div class="dashboard">
    <h1>Data Ingestion Dashboard</h1>

    <div *ngIf="files.length > 0; else noFiles">
        <table class="table">
            <thead>
                <tr>
                    <th>File ID</th>
                    <th>File Name</th>
                    <th>Uploaded Date/Time</th>
                    <th>Status</th>
                    <th>Ingested Date/Time</th>
                    <th>Error Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of files">
                    <td>{{ file.fileId }}</td>
                    <td>{{ file.file_name }}</td>
                    <td>{{ file.uploaded_date_time }}</td>
                    <td>{{ file.status }}</td>
                    <td>{{ file.ingested_date_time }}</td>
                    <td>{{ file.error_message }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #noFiles>
        <p>No files have been ingested yet.</p>
    </ng-template>
</div>